.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.alert-placeholder {
  margin-bottom: "15px"; /* Adjust the margin as needed */
}


.hp1{
  width:19rem;
  height: 20rem;
}
.hp3{
  width:30rem;
  height: 15rem;
}

@media only screen and (max-width:450px) {
  .hp1{
    width: 60%;
    height: 42%;
    margin-bottom: 5%;
    position: relative;
    left: 18%;
  }
  .hp3{
    width: 100%; 
  }
  .hp2{

  }
}